@import "variables"

$assets-folder: ".."

.datetimePicker
    position: relative
    &.date, &.time, &.null

        // Peak
        $arrow-size: 15px
        @media (max-width: $size-large)
            $arrow-size: 20px
        &::before
            content: ""
            position: absolute
            margin-top: -20px
            left: 50%
            margin-left: -10px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 10px 20px 10px
            border-color: transparent transparent #0292c8 transparent

        position: absolute
        z-index: 150
        display: block
        width: 400px
        min-height: 100px
        background-color: #0292c8
        +border-radius(8px)
        margin-top: 15px
        font-size: 16px
        box-shadow: 0px 0px 21px 2px #505050
        -webkit-box-shadow: 0px 0px 21px 2px #505050
        -moz-box-shadow: 0px 0px 21px 2px #505050
        -o-box-shadow: 0px 0px 21px 2px #505050
        @media (max-width: 420px)
            width: 100%
            tbody
                td
                    margin-right: 0px
                    padding: 3px
        .monthHeading
            width: 90%
            margin: 0 5%
            padding: 10px 5px
            box-sizing: border-box
            text-align: center
            font-weight: bold
            font-size: 1.1em
            border-bottom: 1px solid rgba(#fff, 0.5)
            &.clickable
                cursor: pointer
            .previousMonth, .nextMonth
                width: 0
                height: 0
                border-style: solid
                margin-top: 3px
                &.previousMonth
                    border-width: $arrow-size*2/3 $arrow-size $arrow-size*2/3 0
                    border-color: transparent #fff transparent transparent
                    float: left
                    margin-left: 5%
                &.nextMonth
                    border-width: $arrow-size*2/3 0 $arrow-size*2/3 $arrow-size
                    border-color: transparent transparent transparent #fff
                    float: right
                    margin-right: 5%
        table
            width: 85%
            margin: 0 7.5%
            min-height: 270px
            thead
                th
                    font-weight: normal
                    font-size: 0.8em
                    text-align: right
                    padding: 10px 5px 0
                    border-right: 10px solid transparent
                    &:first-child
                        color: #dadada
            tbody
                td
                    text-align: right
                    font-size: 1.4em
                    line-height: 1em
                    cursor: pointer
                    padding: 5px
                    font-weight: bold
                    border-right: 10px solid transparent
                    border-bottom: 7px solid transparent
                    border-top: 7px solid transparent
                    &:first-child
                        color: #dadada
                    &.selected
                        background-color: #fff
                        color: #0292c8
                        +border-radius(4px)
                    @media (max-width: 420px)
                        border-right: 0px
                        padding: 3px
        .time
            width: 100%
            padding: 10px 10%
            background-color: #e6e6e6
            color: #0292c8
            text-align: center
            font-weight: bold
            font-size: 1.4em
            border-bottom-left-radius: 8px
            border-bottom-right-radius: 8px
            margin-top: -1px
            cursor: pointer
            &.timePicker
                display: table
                cursor: default
                padding: 30px 10%
                min-height: 323px
                > div
                    display: table-cell
                    vertical-align: middle
                    width: 33%
                    > button, > span
                        display: block
                        width: 100%
                        text-align: right
                        font-size: 1.4em
                    > button
                        color: #aeaeae
                        padding: 5px 10px
                    > span, .selected
                        background-color: #fff
                        line-height: 1em
                        padding: 5px 10px
                        outline: none
                        .time-divider
                            position: absolute
                            margin-left: 30px
                    &.timeHours, &.timeMinutes
                        button
                            outline: none
                            position: relative
                            &::before
                                content: ""
                                position: absolute
                                width: 0
                                height: 0
                                border-style: solid
                                right: 15px
                                z-index: 5
                            &:first-child
                                padding-top: 20px
                                &::before
                                    top: 0px
                                    border-width: 0 $arrow-size*2/3 $arrow-size $arrow-size*2/3
                                    border-color: transparent transparent #0292c8 transparent
                            &:last-child
                                padding-bottom: 20px
                                &::before
                                    bottom: 0px
                                    border-width: $arrow-size $arrow-size*2/3 0 $arrow-size*2/3
                                    border-color: #0292c8 transparent transparent transparent
                            &:last-child::after
                                content: ""
                                display: block
                                position: absolute
                                bottom: 0
                                width: 100%
                                height: 1.2em
                                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e6e6e6+100&0+0,1+74 */
                                background: -moz-linear-gradient(top,  rgba(230,230,230,0) 0%, rgba(230,230,230,1) 40%, rgba(230,230,230,1) 100%) /* FF3.6-15 */
                                background: -webkit-linear-gradient(top,  rgba(230,230,230,0) 0%,rgba(230,230,230,1) 40%,rgba(230,230,230,1) 100%) /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom,  rgba(230,230,230,0) 0%,rgba(230,230,230,1) 40%,rgba(230,230,230,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6e6e6', endColorstr='#e6e6e6',GradientType=0 ) /* IE6-9 */
                            &:first-child::after
                                content: ""
                                display: block
                                position: absolute
                                top: 0
                                width: 100%
                                height: 1.2em
                                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e6e6e6+100&1+26,0+100 */
                                background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(230,230,230,1) 60%, rgba(230,230,230,0) 100%) /* FF3.6-15 */
                                background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(230,230,230,1) 60%,rgba(230,230,230,0) 100%) /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(230,230,230,1) 60%,rgba(230,230,230,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#00e6e6e6',GradientType=0 ) /* IE6-9 */
                    &:first-child
                        > span
                            +border-radius(5px 0 0 5px)
                    &:last-child
                        > span
                            +border-radius(0 5px 5px 0)
                    &.time-phase
                        position: relative
                        button
                            position: absolute
                            right: 0
                            &:first-child
                                top: 0
                            &.selected
                                position: static
                                color: #0292c8
        .datetimePickerActions
            width: 100%
            display: inline-block
            button
                display: inline-block
                width: auto
                color: white
                margin: 15px
                padding: 7px 10px
                background-color: rgba(255,255,255,0.15)
                &.clearButtonMonth
                    float: left
                &.doneButtonMonth
                    float: right